# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
.expo/
.turbo/
out/
coverage/
*.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# expo / eas
apps/mobile/ios/
apps/mobile/android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# databases & storage (local dev)
*.sqlite
.minio-data/
.postgres-data/
.redis-data/

# logs & OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/*
!.vscode/extensions.json

# test artifacts
playwright-report/
test-results/
.maestro/output/
